{% load static %}

<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
    <div class="container-fluid d-flex flex-column p-0">
        <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="{% url 'customer:dashboard' customer.id %}">
            <div class="sidebar-brand-icon rotate-n-15"><i class="icon ion-pizza"></i></div>
            <div class="sidebar-brand-text mx-3"><span>QuickBytes</span></div>
        </a>
        <hr class="sidebar-divider my-0">
        <ul class="nav navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'customer:dashboard' customer.id %}"><i class="fa fa-tachometer"></i><span>Customer Dashboard</span></a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'customer:profile' customer.id  %}"><i class="fas fa-user"></i><span>Profile</span></a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'customer:order' customer.id  %}"><i class="fas fa-desktop"></i><span>Place an Order</span></a></li>
            <!-- <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'customer:history' customer.id %}"><i class="fas fa-list"></i><span>Order History</span></a></li> -->
            <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'customer:complaints' customer.id  %}"><i class="far fa-angry"></i><span>Complaints</span></a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'customer:discounts' customer.id  %}"><i class="far fa-smile-wink"></i><span>Discounts</span></a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'customer:reservation' customer.id  %}"><i class="fas fa-glass-martini"></i>Reservations</a></li>
        </ul>
        <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
    </div>
</nav>
