{% load static %}
<footer class="page-footer dark">
    <div class="container">
        <div class="row float-none d-xl-flex justify-content-xl-center" style="max-width: -3px;">
            <div class="col-sm-3" style="max-width: 50%;">
                <h5>Get started</h5>
                <ul>
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'register' %}">Sign up</a></li>
                    <li style="color: rgb(193,193,193);"><a href="{% url 'about-us' %}">About Us</a></li>
                </ul>
            </div>
            <div class="col-sm-3" style="max-width: 50%;">
                <h5>Support</h5>
                <ul>
                    <li><a href="{% url 'faq' %}">FAQ</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>© 2020 QuickBytes</p>
    </div>
</footer>
<script src="{% static 'quickbytes/assets/js/jquery.min.js' %}"></script>
<script src="{% static 'quickbytes/assets/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'quickbytes/assets/js/bs-init.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="{% static 'quickbytes/assets/js/smoothproducts.min.js' %}"></script>
<script src="{% static 'quickbytes/assets/js/theme.js' %}"></script>
</body>

</html>