<!DOCTYPE html>
{% load static %}
<html>
{% include 'chef/Navbar.html' %}
            <div class="container-fluid">
                <div class="d-sm-flex justify-content-between align-items-center mb-4">
                    <h3 class="text-dark mb-0">Order Details for {{ object.customername }}</h3>
                </div>
            </div>
            <div class="container" style="padding: auto;margin: auto;">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body text-center">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Item No.</th>
                                                <th>Menu Item</th>
                                                <th>Instructions</th>
                                                <th>Allergies</th>
                                            </tr>
                                        </thead>
                                        {% for item in object.itemtable_set.all %}
                                        <tbody>
                                            <tr>
                                                <td>{{ item.id }}</td>
                                                <td>{{ item.menuitem }}</td>
                                                <td>{{ item.specialinstructions }}</td>
                                                <td>{{ item.allergies }}<td>
                                            </tr>
                                        </tbody>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="card" style="height: -5px;padding: -2px;margin: 26px;"></div>
            </div>
            <div class="container">
                <div class="card shadow mb-5">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 font-weight-bold">Order Questions</p>
                    </div>
                    <div class="card-body">
                        <div class="row" style="width: auto;height: auto;">
                           <div class="col">
                                <form method="POST">
				                    {% csrf_token %}
				                        {{ form.message }}
                                    <!--<div class="form-group">
                                        <div class="custom-control custom-switch"><input class="custom-control-input" type="checkbox" id="formCheck-1"><label class="custom-control-label" for="formCheck-1"><strong>Notify me about new replies</strong></label></div>
                                    </div>-->
                                    <div class="form-group"><button class="btn btn-primary btn-lg" data-toggle="tooltip" data-bs-tooltip="" type="submit" title="Ask the host to clarify something on the order">Send</button></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © QuickBytes 2020</span></div>
            </div>
        </footer>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
    <script src="{% static 'quickbytes/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'quickbytes/assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'quickbytes/assets/js/chart.min.js' %}"></script>
    <script src="{% static 'quickbytes/assets/js/bs-init.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="{% static 'quickbytes/assets/js/theme.js' %}"></script>
</body>

</html>
