{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'menu/styles.css'%}">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap" rel="stylesheet">


<head>
  <title>Menu</title>

</head>
<body>
  
  <div class="menu-container">
    
    <h2>Appetizers</h2>
    <hr />
    <img class="fries" src="{% static 'menu/images/fries.jpg' %}" height="100px" width="150px" alt="picture of fries">
    <ul>

      {% for item in all_menu_items %} {% if item.item_type == 'Appetizer' %}
   
      <li><b>{{item.name}}</b> - {{item.description}} - <em>${{item.price}}</em></li>
      {% endif %} {% endfor %}
    </ul>
    <h2>Entrees</h2>
    <hr />
    <ul>
      {% for item in all_menu_items %} {% if item.item_type == 'Entree' %}
      <li><b>{{item.name}}</b> - {{item.description}} - <em>${{item.price}}</em></li>
      {% endif %} {% endfor %}
    </ul>
    <h2>Desserts</h2>
    <hr />
    <ul>
      {% for item in all_menu_items %} {% if item.item_type == 'Dessert' %}
      <li><b>{{item.name}}</b> - {{item.description}} - <em>${{item.price}}</em></li>
      {% endif %} {% endfor %}
    </ul>

    <h2>Drinks</h2>
    <hr />
    <h3 class="top-of-drink-section">Cocktails</h3>
    <ul>
      {% for drink in all_menu_items %}
      {% if drink.item_type == 'Cocktail' %}
      <li><b>{{drink.name}}</b> - {{drink.description}} - <em>{{drink.price}}</em></li>
      {% endif %}
      {% endfor %}
    </ul>
    <h3>Wine</h3>
    <ul>
      {% for drink in all_menu_items %}
      {% if drink.item_type == 'Wine' %}
      <li><b>{{drink.name}}</b> - {{drink.description}} - <em>{{drink.price}}</em></li>
      {% endif %}
      {% endfor %}
    </ul>
    <h3>Beer</h3>
    <ul>
      {% for drink in all_menu_items %}
      {% if drink.item_type == 'Beer' %}
      <li><b>{{drink.name}}</b> - {{drink.description}} - <em>{{drink.price}}</em></li>
      {% endif %}
      {% endfor %}
    </ul>

    
  </div>
</body>
